*{
  padding: 0;
  margin: 0;
}

.box{
  background: yellow;  
}

.box .item{
  background: red;
  color: white;
  width: 12.8%;
  display: inline-block;
  margin:10px;
  padding:40px;
  text-align:center;
}


.box2{
  display: table;
  width:100%;
  margin-top: 20px;
}

.box2 .item{
  background: gray;
  display: table-cell;
  text-align:center;
  padding: 40px 0px;
  border:10px solid yellow;
}

.box3{
  background: yellow;
  margin-top: 20px;
  display:flex;
  justify-content: space-around;
}

.box3 .item{
  background: blue;
  color: white;
  text-align:center;
  /* width: 100%; */
  margin: 10px;
  padding: 40px;
}
