/*recuerden que primero es recomendable por convención iniciar todos los elementos con un padding de 0 y un margin en 0
eso es lo que nos dice el asterisco, es decir que todos los elementos van a tener esas propiedades.*/
*{
  padding: 0;
  margin: 0;
  font-family: helvetica; /* nos sirve para definir la fuente que tendra nuestro sitio, es recomandable usar como maximo 2 tipos de fuentes. Puedes googlear en google fonts para experimentar*/
}

/* Todos los elementos div son por default display block, es decir, son elementos de bloque, entonces se puede definir
un tamaño(width) y/o altura (height)*/

/*Los elementos que son de tipo texto NO se les puede dar propiedades como width y hegiht*/

/*Los modelos de layout son inline, inline-block, block, entre otros que veremos mas adelante.

inline : propiedad del elemento que va a ser de tipo texto es decir los elemenos se alinean pero no tiene width ni height.

block: es la propiedad que tiene por default un elemento o etiqueta div, este nos dice que el elemento va hacer de tipo bloque, se puede definir un width y height en pixeles, o porcentajes.

inline-block: Es una conbinanción de ambas propiedades, es decir, tiene atributos de tipo bloque, pero tambien de tipo texto.

*/

.box{
  background: lightblue;
  width: 100%;
  padding: 20px;
}

/* se pueden anidar clases dentro de clases para dar estilos a hijos o elementos especificos que pertenescan a un determinado padre.*/

.box .item{
  background: tomato;
  color:white;
  width: 125px;
  padding: 20px 0px;
  text-align: center;
  display: inline-block;
}

.image{
  margin-top: 50px;
  text-align: center;
}
